* {
  margin    : 0;
  padding   : 0;
  box-sizing: border-box;
}

body {
  display              : grid;
  width                : 100%;
  height               : 100vh;
  grid-template-rows   : 2fr 3fr 2fr;
  grid-template-columns: 2fr 3fr 2fr;
  grid-template-areas  :
    '. h .'
    '. c .'
    '. . .';
  background-image: url(./img/valentine-1953964_1920.jpg);
}

@media screen and (max-width:768px) {
  body {
    grid-template-rows   : repeat(3,1fr);
    grid-template-columns: 1fr;
    grid-template-areas  :
      'h'
      'c'
      '.';
  }
}

h1 {
  grid-area : h;
  text-align: center;
  margin    : auto;
  font-size : 80px;
  color     : #ee9ca7;
}

h2 {
  font-size: 60px;
  color    : #f7797d;
}

.countdown-time {
  display              : grid;
  grid-area            : c;
  grid-template-columns: repeat(4, 1fr);
  text-align           : center;
}

.countdown-time span {
  margin-right: -50px;
  color       : #F37335;
  font-weight : 500;
}